In [1]:
Chakras = ["Root", "Sexual", "Plexo"]

In [2]:
for Area in Chakras:
    print(Area)

Root
Sexual
Plexo

In [3]:
Area

'Plexo'

In [4]:
Color_Chakras = ["Red", "Orange", "Yellow"]

In [5]:
for color in Color_Chakras:
    print(color)

Red
Orange
Yellow

In [6]:
color

'Yellow'

In [7]:
for character in ['J', 'u', 'a', 'n']:
    print(character)

J
u
a
n

In [8]:
for character in "Juan":
    print(character)

J
u
a
n

In [7]:
numbers = [100, 500, 700, 560, 633, 50, 1000]

In [8]:
for num in numbers:
    if num < 300:
        print("<300:", num)
    elif num < 500:
        print("<500:", num)    
    else:
        print(">=500:", num)

<300: 100
>=500: 500
>=500: 700
>=500: 560
>=500: 633
<300: 50
>=500: 1000

### Range 

range (Stop)

- Stop one number before indicate!

In [9]:
r = range(10)

r

range(0, 10)

In [10]:
type(r)

range

In [11]:
tuple(r)

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [12]:
list(r)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [13]:
for i in r:
    print(i)

0
1
2
3
4
5
6
7
8
9

### Range (Start,Stop)

In [16]:
for i in range(2,8):
    print(i)

2
3
4
5
6
7

### range(Start,Stop,Step)

In [19]:
for i in range(2,8,2):
    print(i)

2
4
6

### "_", underscore in range, ignore the value

In [20]:
for _ in range(5):
    print("You Can Do It!")

You Can Do It!
You Can Do It!
You Can Do It!
You Can Do It!
You Can Do It!

In [25]:
names_and_ages = {"Juan" : 26, 
                  "Cristian" : 35, 
                  "Nora" : 61, 
                  "Guillermo" : 56}

In [26]:
for key in names_and_ages:
    print(key)

Juan
Cristian
Nora
Guillermo

### dictionary[key], to print the value of the "key"
    names_and_ages[key]

In [28]:
for key in names_and_ages:
    print("Name: ", key, "Age: ", names_and_ages[key])

Name:  Juan Age:  26
Name:  Cristian Age:  35
Name:  Nora Age:  61
Name:  Guillermo Age:  56

In [29]:
names_and_ages.keys()

dict_keys(['Juan', 'Cristian', 'Nora', 'Guillermo'])

In [30]:
for key in names_and_ages.keys():
    print(key)

Juan
Cristian
Nora
Guillermo

In [31]:
names_and_ages.values()

dict_values([26, 35, 61, 56])

In [32]:
for key in names_and_ages.values():
    print(key)

26
35
61
56

In [34]:
names_and_ages.items()

dict_items([('Juan', 26), ('Cristian', 35), ('Nora', 61), ('Guillermo', 56)])

### for key, val
        print (key, val)

In [38]:
for key, val in names_and_ages.items():
    print(key, val)

Juan 26
Cristian 35
Nora 61
Guillermo 56