In [10]:
name = 'Juan'
lastname = 'Agreda'

fullname = name + " " + lastname

print (fullname)

Juan Agreda

In [11]:
name = 'Juan'
lastname = 'Agreda'

fullname = name + " " + lastname

fullname

'Juan Agreda'

In [15]:
length = len("Hi")

print ('length')

length

In [16]:
mixed_list = ["Hi", 5, True, 2.555]

mixed_list

['Hi', 5, True, 2.555]

In [17]:
import pandas as pd

In [18]:
table1 = pd.read('mixed_list')

AttributeError: module 'pandas' has no attribute 'read'

In [21]:
dogs = ["Beagle", "Boston", "Pitbull"]

dogs

['Beagle', 'Boston', 'Pitbull']

In [22]:
dogs.append("Chiwawa")

dogs

['Beagle', 'Boston', 'Pitbull', 'Chiwawa']

In [24]:
dogs [0:1]

['Beagle']

In [25]:
dogs [0:2]

['Beagle', 'Boston']

In [26]:
dogs [0:4]

['Beagle', 'Boston', 'Pitbull', 'Chiwawa']

In [28]:
dogs [:-1]

['Beagle', 'Boston', 'Pitbull']

In [29]:
dogs [0:]

['Beagle', 'Boston', 'Pitbull', 'Chiwawa']

In [31]:
dogs.insert(1, "Terrier")

dogs

['Beagle', 'Terrier', 'Terrier', 'Boston', 'Pitbull', 'Chiwawa']

In [36]:
dogs.remove("Terrier")

dogs

['Beagle', 'Terrier', 'Boston', 'Pitbull', 'Chiwawa']

In [37]:
dogs_copy = dogs.copy()

dogs_copy

['Beagle', 'Terrier', 'Boston', 'Pitbull', 'Chiwawa']

In [38]:
del dogs

In [39]:
dogs

NameError: name 'dogs' is not defined

In [40]:
dogs_copy

['Beagle', 'Terrier', 'Boston', 'Pitbull', 'Chiwawa']

In [41]:
cha_tuple = tuple("Lana")

cha_tuple

('L', 'a', 'n', 'a')

In [43]:
game_list = ['soccer', 'basketball', 'tennis']

game_tuple = tuple(game_list)

game_tuple

('soccer', 'basketball', 'tennis')

In [44]:
"Hi" in game_tuple

False

In [45]:
"soccer" in game_tuple

True

In [46]:
"basketball" in game_list

True

In [47]:
names_and_ages = {"Cristian" : 35,
                  "Jessica" : 31,
                  "Lana" : 1}

names_and_ages

{'Cristian': 35, 'Jessica': 31, 'Lana': 1}

In [48]:
names_and_ages["Cristian"]

35

In [50]:
names_and_ages["Jessica"]

31

In [51]:
names_and_ages.keys()

dict_keys(['Cristian', 'Jessica', 'Lana'])

In [52]:
names_and_ages.values()

dict_values([35, 31, 1])

In [53]:
names_and_ages["Juan"] = 26

names_and_ages

{'Cristian': 35, 'Jessica': 31, 'Lana': 1, 'Juan': 26}

In [2]:
{'Doctors' : ['Natalia', 'David'], 
 'Engineers' : ['Cristian', 'Juan'], 
 'Teachers' : ['Guillermo', 'Nora']}

{'Doctors': ['Natalia', 'David'],
 'Engineers': ['Cristian', 'Juan'],
 'Teachers': ['Guillermo', 'Nora']}

In [3]:
Ocupations_Name = {'Doctors' : ['Natalia', 'David'], 
                   'Engineers' : ['Cristian', 'Juan'], 
                   'Teachers' : ['Guillermo', 'Nora']}

Ocupations_Name

{'Doctors': ['Natalia', 'David'],
 'Engineers': ['Cristian', 'Juan'],
 'Teachers': ['Guillermo', 'Nora']}

In [5]:
Ocupations_Name['Teachers'][1]

'Nora'

In [6]:
Ocupations_Name['Doctors'][0]

'Natalia'